<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Login</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
</head>


<body class="d-flex align-items-center justify-content-center vh-100">

<div class="container">

 <div class="col-md-4">

    <div class="card shadow-sm p-4">

        <!--Titulo-->
       
        <div class="text-center mb-4">
             <h2 class="fw-bold mb-2">Iniciar Sesión</h2>
             <p class="text-muted small">Ingresa tus credenciales para continuar</p>
        </div>

        <!--Formulario-->
       <form th:action="@{/login}" method="post">
        
        <div class="mb-3">
            <label class="for-label">Correo</label>
            <input type="email" name="username" class="form-control" placeholder="correo@ejemplo.com" required>
        </div>

        <div class="mb-3">
            <label class="form-label">Contraseña</label>
            <input type="password" name="password" class="form-control" placeholder="**********" required>
        </div>
        
        <div class="d-grid mt-4">
            <button type="subimt" class="btn btn-primary">
                Ingresar
            </button>
        </div>

       </form>         

    </div>
 </div>
</div>


</body>
</html>