<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    
<head>
        <title>Editar Apartamento</title>
</head>

<body>
    <h1>Editar Apartamento</h1>

<form th:action="@{/apartamentos/{id}(id=${apartamento.id})}"
      th:object="${apartamento}"
      method="post">

     <label>Número:</label>
     <input type="text" th:field="*{numero}" />
     
     <br><br>

     <label>Torre:</label>
     <input type="text" th:feield="*{torre }" />

     <br><br>

     <label>Piso:</label>
     <input type="number" th:field="*{piso}" />
    
     <br><br>

     <label>Estado:</label>
     <input type="text" th:field="*{estado}" />

     <br><br>

     <button type="submit">Actualizar</button>


    </form>
    
    <br>
    <a th:href="@{/apartamentos}">Volver</a>


</body>
</html>