<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
         
        <title>Dashboard Nexur</title>

    </head>

    <body>
        <h1 th:text="${titulo}"></h1>

        <p>Bienvenido al sistema Nexur</p>

        <ul>
            <li>
                <a href="/usuarios-vista">Gestión de Usuarios</a>
            </li>

            <li>
                <a href="/apartamentos">Apartamentos</a>
            </li>
            <li>
                <a href="/residentes">Residentes</a>
            </li>
            
            <li>
                <a href="#">Portería</a>
            </li>        
            <li>
                <a href="#">Reportes</a>
            </li>
            
        </ul>
    </body>
</html>