<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Residentes</title>
    </head>
    <body>
        <h1>Lista de Residentes</h1>

        <a href="/residentes/nuevo">Nuevo Residente</a>

        <table border="1">

              <thead>
                <tr>
                    <th>ID</th>
                    <th>Documento</th>
                    <th>Teléfono</th>
                    <th>Apartamento</th>
                    <th>Acciones</th>
                </tr>
              </thead>
              <tbody>

                <tr th:each="residente: ${residentes}">
                    <td th:text="${residente.id}"></td>"
                    <td th:text="${residente.nombre}"></td>"
                    <td th:text="${residente.documento}"></td>"
                    <td th:text="${residente.telefono}"></td>"
                    <td th:text="${residente.apartamento.numero}"></td>

                    <td> 
                        <a th:href="@{/residentes/eliminar/{id}(id=${residente.id})}">
                            Eliminar
                        </a>
                    </td>
                </tr>

              </tbody>

        </table>
        
    </body>
</html>