<html xmlns:th="http://www.thymeleaf.org">
   <body>
    <h2>Editar Usuario</h2>

  <form th:action="@{/actualizar-usuario}" method="post">
       
       <input type="hidden" name="id" th:value="${usuario.id}" />

       Nombre:
       <input type="text" name="nombre" th:value="${usuario.nombre}"/>
       <br>

       Email:
       <input type="text" name="email" th:value="${usuario.email}" />
         <br>
       
         Password:
         <input type="text" name="password" th:value="${usuario.password}" />
          <br>

          <button type="submit">Actualizar</button>
    
  </form>  
   </body> 
</html>